<div class="markdownx">
    {% include 'django/forms/widgets/textarea.html' %}
    <div class="markdownx-preview"></div>
</div>
<style>
    .markdownx {
        display: grid;
        grid-template-columns: minmax(auto, 758px) auto;
    }

    .markdownx .markdownx-editor {
        width: auto;
        max-width: 758px;
        height: auto;
        max-height: 300px;
        margin-right: 5px;
    }

    .markdownx .markdownx-preview {
        width: auto;
        height: auto;
        max-height: 300px;
        margin-left: 5px;
    }
</style>
